.left  { float: left;  }
.right { float: right; }

.justify { text-align: justify; }
.center  { text-align: center;  }

.uppercase { text-transform: uppercase; }


/* Global elements */

body { cursor: default; }

span.obs { font-family: "Verdana"; font-size: 14px; color: red; }

pre
{
    margin-top: 5px;
    padding:    5px;
    
    background-color: #f1f1f1;
        
    border-radius: 4px;
    
    cursor: text;
}

ol li { margin-bottom: 20px; }

hr { float: left; width: 100%; clear: both; margin: 20px 0px 20px 0px; }

/* Specific elements */

#header 
{
    clear: both;
    
    margin-top:    20%;
    margin-bottom: 20%;
}

#print { position: fixed; top: 10px; right: 10px; }

/* Print */

@media print
{
    #header { margin-top: 0px; margin-bottom: 30px; }
        #header h1      { float: left; margin-bottom: 0px;  font-size: 32px; }
        #header #author { float: left; margin: 20px 0px 0px 15px; }
        #header img     { float: right; margin-top: -15px; }
        
    #footer { text-align: left; }
    
    #print { display: none; }
    
    hr { margin: 0px; page-break-after: always !important; }
}